#container{
    width: 800px;
    
    height: auto;
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
}

#canvas{
    width: 80%;
    max-width: 80%;
    height: 80%;
    background-color: aliceblue;
    margin-top: 20px;
}