#container{
    width: 700px;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    border: solid 1px;
    background: hsla(0, 14%, 84%, 0.342);
}

#slidercontainer{
    width: 75%;
}

.slider{
    width:30%;
    outline:none;
   
    border-radius: 12px;
    
}
.slider::before{
    content:'0cm';
    font-size: 20px;;
    position:absolute;
    left: 37%;
    top:4%;
}

.slider::after{
    content:'200cm';
    position:absolute;
    font-size: 20px;
    left: 50%;
    top: 4%;
}

#canva{
   
    border-radius: 5px;
    border: solid 1px;;
}

